@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto+Slab:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #24292e;
  --color-primary-hover: #2b3137;
}

body {
  margin: 0 1rem;
  font-family: 'Poppins';
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}
.font-logo {
  font-family: 'Roboto Slab', serif;
  color: var(--color-primary);
}
nav a {
  font-size: 13px;
  padding: 4px 16px;
}
nav a:hover {
  color: #2b3137;
}
.primary-button {
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 4px 16px;
  border-radius: .3rem;
  transition: background .1s;
}
.primary-button:hover {
  background: var(--color-primary-hover);
}
aside {
  width: 224px;
  height: calc(100vh - 52px);
}
aside * {
  transition: all .2s;
}
.sidebar-button {
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: .3rem;
  cursor: pointer;
}
.sidebar-button:hover {
  background: #f2f3f4;
}
aside span {
  margin-left: 6px;
}
.sidebar-list {
  max-height: 0px;
}
.sidebar-list .sidebar-button {
  opacity: 0;
}
.sidebar-list.open {
  max-height: 500px;
}
.sidebar-list.open .sidebar-button {
  opacity: 1;
}
footer {
  font-size: 10px;
}